<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">начало</a>
            <a href="?page={{ posts.previous_page_number }}">назад</a>
        {% endif %}

        <span class="current">
            Страница №{{ posts.number }} из {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">вперед</a>
            <a href="?page={{ posts.paginator.num_pages }}">последняя;</a>
        {% endif %}
    </span>
</div>
<br><br><br><br>