{% extends "blog/base.html" %}

{% block content %}
<a href="/blog/">На Главную</a><br><hr>
<h6>Привет, мнея зовут Степан</h6>
Голубев Степан
Мужчина, 18 лет, родился 28 января 2002



Контакты<br>

+7 (911) 440-51-86 <br>
golubevstephan@gmail.com — предпочитаемый способ связи<br><br>
http://russiangeeks.com<br><br><br>
 Facebook LinkedIn<br>


Вологда, не готов к переезду, не готов к командировкам<br>

Маркетинг, реклама, PR<br>
Менеджер по работе с клиентами<br>
Менеджмент продукта (Product manager)<br>
Управление проектами<br>
Занятость: полная занятость<br>

График работы: полный день<br>

Опыт работы 2 года 3 месяца<br>
Октябрь 2018 — по настоящее время<br>
2 года 3 месяца<br>
RussianGeeks<br>
ТОП менеджер - руководитель<br>
Project manager, продажник, SEO, SMM, Team Lead<br>
Ключевые навыки<br>
Подтвердите навыки, отправив ссылку на резюме своим коллегам и деловым партнерам. Для этого резюме должно быть видно всему интернету. Открыть резюме всему интернету и получить ссылку.
<br>
Обучаемость<br>
Ответственность<br>
Компетентность<br>
Коммуникабельность<br>
Социальный интеллект<br><br>
Обо мне<br>
Здравствуйте<br>
Меня зовут Степан Голубев.<br>
Я прогрессивный молодой человек который активно учится и развивается в сфере IT. Самое мое любимое дело - общаться с клиентами, понимать что им нужно, создавать технические задания и делать анализ рынка в сфере клиентского бизнеса.<br>

Я имею опыт разработки разных IT продуктов:<br>
1) Разработка админ панелей (Pyhton -Django / PHP)<br>
2) Разработка мобильных приложений (Android java)<br>
3) Немного CMS<br>

Чем я занимался, почему считаю, что достаточно опыта:<br>
Я работаю на фрилансе и на опен сорсе. Имею некую студию по разработке мобильных приложений и веб сайтов. Вот сайт: russiangeeks.com
Все кейсы реальные, сам организовывал разработчиков и вел проекты до публикации и готового продукта.<br>

Функции которые я выполнял:<br>
1) Привлечение клиентов (поэтому знаю SEO / SMM/ таргет и контекст)<br>
2) Общение и составление технического задания<br>
3) Составление договора и оформление брифа<br>
4) Организация проекта: найм работников, обговаривание, следование за разработкой, тестирование, публикация.<br>

Готов к фулл тайм удаленно. Смогу помогать разработчикам и общаться с клиентами. Вести проект и быть продажником.<br>
Высшее образование (Бакалавр)
2023
Вологодский государственный технический университет, Вологда<br>
Прикладная математика и информационные науки, IT - специалист<br>
Знание языков<br>
Русский — Родной<br>

Английский — C1 — Продвинутый<br>

Гражданство, время в пути до работы<br>
Гражданство: Россия<br>

Разрешение на работу: Россия<br>

Желательное время в пути до работы: не имеет значения<br>

{% endblock %}