{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<hr>
<a href="/blog/" type="post">... Все посты</a>
<hr>
   <p class="date">
       Пост опубликован {{ post.publish }} автором - {{ post.author }}
   </p>

{{ post.body|markdown }}
<hr>
<br>
<h5>Похожие посты:</h5>
<h6>
    {% for post in similar_posts %}
    <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% empty %}
   Пока нет похожих постов
    {% endfor %}
</h6>
<hr>
<p>
    <a href="{% url 'blog:post_share' post.id %}"
    <h6>Поделиться</h6>
       </a>
</p>
<hr>

{% with comments.count as total_comments %}
<h2>
    {{ total_comments }} комментарий </h2>
{% endwith %}

{% for comment in comments %}
    <div class="comment">
        <p class="info">
            комментарий {{ forloop.counter }} от {{comment.name}}
            {{ comments.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
{% empty %}
    <p>Пока нет комментариев, будьте первым</p>
{% endfor %}
<hr>
{% if new_comment %}
    <h2>Комментарий сохранен</h2>
{% else %}
    <h2>Добавить новый комментарий</h2>
<hr>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Послать"></p>
    </form>
{% endif %}
{% endblock %}