{% extends "blog/base.html" %}

{% block title %}Поделиться постом{% endblock %}

{% block content %}
<hr>
<a href="{{ post.get_absolute_url }}" type="post">Назад к посту "{{ post.title }}"</a>
<hr>
<a href="/blog/" type="post">На главную</a>
<hr>
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title }}" успешно послано { form.clean_data.to }}
        </p>
    {% else %}
        <h1>Подельиться постом "{{ post.title }}" по почте</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Sent e-mail">
            </form>
    {% endif %}
    {% for i in form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
{% endblock %}